/*****************************
*****************************
*****//*ELEM SECTION*//*****
*****************************
*****************************/

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--textcolor);
}

.header_left_content p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
}

#homebutton-link {
  color: var(--white);
  text-decoration: none;
  font-size: 22px;
  font-family: 'Roboto';
}


#homebutton {
  background-color: var(--darkblue);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

#homebutton:hover {
  background-color: var(--mediumblue);
  transform: scale(1.2);
  transition: 0.5s all ease;
}

button.bckbtn {
    height: 50%;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    background-color: var(--darkblue);
    border: none;
    border-radius: 12px;
    transition: 0.5s all ease;
    font-size: 16px;
}

button.bckbtn:hover {
  transform: scale(1.2);
  transition: 0.5s all ease;
  background-color: var(--mediumblue);
}

#linkToResults {
  color: var(--white);
  padding: 6px;
}

body{
  line-height: 1.5;
  z-index: 0;
}

body.show{
  overflow: hidden;
}

.header h1{
  padding-bottom: 0px!important;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: bold;
  padding-bottom: 1em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 33px;
}

input:focus,
select:focus,
textarea:focus{
    outline: none;
    box-shadow: 2px 2px 5px #000;  
}

input {
  padding: 5px;
  text-align: center;
}

/*****************************
*****************************
*****//*MODAL SECTION*//*****
*****************************
*****************************/

/* --------------- REGISTER FORM ---------------- */

.register-form-container {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.register-form {
  position: absolute;
  background: var(--mediumblue);
  opacity: 100%;
  border-radius: 12px;
  min-width: 100%;
  min-width: 200px;
  color: var(--white);
  width: 400px; 
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  row-gap: 45px;
}

.register-label {
  flex-grow: 1;
  flex-basis: 29%
}

.register-textfield {
  flex-grow: 2;
  flex-basis: 70%;
  border-radius: 16px;
  border: none;
  height: 27px;
}


/* --------------- MODAL ---------------- */


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.show {
  display: block;
  overflow: hidden;
}

/* The Close Button */
.close {
  position: absolute;
  top: 60px;
  right: 120px;
  color: #f1f1f1;
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*****************************
*****************************
*****//*HEADER SECTION*//*****
*****************************
*****************************/

.header {
  width: 100%;
  background-color: var(--white);
  max-width: 1500px;
  margin: auto;
}

.header .padder{
  background-color: var(--white);
}

.header_left_content {
  width: 82.2%;
  display: flex;
  column-gap: 2em;
}

.hdrbtn {
  width: 100px;
}

#bookmark {
  cursor: pointer;
  box-sizing: border-box;
  background-image: url( images/bookmark_uncheck.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--white);
  box-shadow: none;
  margin-top: auto;
  margin-bottom: auto;
  width: 4%;
  height: 50%;
  transition: 0.5s all ease;
}

#bookmark:hover{
  transform: scale(1.1);
  transition: 0.3s all ease;
}

#bookmark.check{
 background-image: url( images/bookmark_check.png);
 transition: 0.5s all ease;
 transform: scale(1.2);
}

.header_right_content {
  display: flex;
  column-gap: 2em;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#homebutton-link {
  color: var(--white);
  text-decoration: none;
  font-size: 22px;
  font-family: 'Roboto';
}

#homebutton {
  background-color: var(--darkblue);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dropbtn {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 6px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  width: 175px;
  height: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--darkblue);
  opacity: 100%;
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 12px;
  min-width: 100%;
}

.register-form-container {
  display: flex;
  justify-content: center;
}

.register-form {
  position: absolute;
  background: var(--darkblue);
  opacity: 100%;
  border-radius: 12px;
  min-width: 100%;
  min-width: 200px;
  color: var(--buttonwhite);
  width: 400px; 
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  row-gap: 45px;
}

.register-label {
  flex-grow: 1;
  flex-basis: 29%;
  color: var(--white);
}

.register-textfield {
  flex-grow: 2;
  flex-basis: 70%;
  border-radius: 16px;
  border: none;
  height: 27px;
}

.login-mask {
  right: 0px;
  min-width: 200px;
  padding: 22px;
  color: var(--white);
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hide-dropdown {
  display: none;
}

.header-btn {
  margin-top: 5px;
  border-radius: 16px;
  background-color: var(--darkerblue);
  border: none;
  padding: 5px;
  cursor: pointer;
  color: white;
}

.header-btn:hover {
  background-color: var(--mediumblue);
}


.dropdown-content a:hover {
  background-color: var(--mediumblue);
  border-radius: 12px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--mediumblue);
}

.login-textfield {
  width: 100%;
  border-radius: 16px;
  border: none;
}

.user-profile-settings-container label  {
  display: block;
  width: 90%;
}

.user-profile-settings-container span {
  font-size: 12px;
  display: block;
  margin-left: -10px;
}


.user-profile-settings-checkbox-container {
  display: block ruby;
}


.padder{
  padding: 1em 0;
  background-color: var(--basis);
  display: flex;
}

#nav-container{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  top: 0;
}

#nav{
  display: flex;
  justify-content: space-evenly;
  height: 3em;
  line-height: 3em;
  margin: auto;
  transition: 0.5s all ease;
}

.expander{
  display: none;
  width: 50px;
  transition: 0.4s all ease;
  background-image: url("images/down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 2px 5px var(--shadow);  
  transform: scale(0.8);
  cursor: pointer;
  left: 220px;
  position: absolute;
  top: 20px;
  height: 40px;
}

.expander:hover, #dwnldDrpdwn:hover{
  transform: scale(1.0);
  background-color: var(--darkblue);
  background-image: url("images/down_white.svg");
}

a {
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited, a:active{
  text-decoration: none;
  font-weight: 700;
}

a:hover{
  color: var(--white);
  background-color: var(--lightblue);
}

.nav-link{
  padding: 0 1em;
  margin: 0 1em;
  border-radius: 12px;
  background-color: var(--white);
  transition: 0.4s all ease;
  box-shadow: 2px 2px 5px var(--shadow);  
}

a.active{
  color: #fff;
}

a.nav-link.active:hover, .dwnldBtn:hover{
  padding: 0 4em;
  margin: 0;
}

section{
  max-width: 1500px;
  border-bottom: 1px solid black;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--white);
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

#patent_family {
  min-height: 100vh;
}

#bibliographic_data{
  margin-top: 18vh;
}

#bibliographic_data, #description, #claims, #drawing, #download, #citations, #legal_events, #patent_family{
  scroll-margin-top: 170px;
}

a.active[href="#bibliographic_data"], a.active[href="#patent_family"], a.active[href="#legal_events"], a.active[href="#description"], a.active[href="#claims"], a.active[href="#drawing"], a.active[href="#download"], a.active[href="#citations"]{
  background-color: var(--darkblue);
}

/*****************************
*****************************
*****//*CONTENT SECTION*//*****
*****************************
*****************************/


.bibliographic_data_container {
}

.bibliographic_data{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-bottom: 5px;
}

.bibliographic_data .left{
  width: 38.2%;
  display: flex;
  align-items: stretch;
  line-height: 1.42857;
}

.bibliographic_data .right{
  width: 61.8%;
  padding-left: 50px;
}

.bibliographic_data .left .left_content{
  width: 38.2%; 
}

.bibliographic_data .left .right_content{
  width: 61.8%;
}

#description{
}

.description{
  display: flex;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.description .left{
  height: 100%;
  width: 61.8%;
  overflow: scroll;
  padding-right: 2em;
}

.description .left .padder{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.description .right{
  width: 38.2%;

}

.description .right .top{
  height: 100%;
  width: 100%;
  background-image: url(images/1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.claims {
}

.drawing {
  z-index: 1;
}

.drawings {
  width: 100%;
}

.row1, .row2, .row3 {
  width: 100%;
  display: flex;
  column-gap: 1%;
  margin-top: 1%;
  justify-content: space-between;
}

.first:hover, .second:hover, .third:hover , .four:hover{
  box-shadow: 2px 2px 5px var(--shadow);  
}

.tooltiptext {
  display: table;
  top: -15px;
  visibility: invisible;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  padding: 5px 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.8s;
  position: absolute;
  width: 100%;
}

#img{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.tooltiptext::after {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.first:hover .tooltiptext, .second:hover .tooltiptext, .third:hover .tooltiptext, .four:hover .tooltiptext  {
  visibility: visible;
  opacity: 1;
}

.drawings .first, .drawings .second, .drawings  .third, .drawings  .four{
  position: relative;
  cursor: pointer;
  height: 400px;
  width: 25%;
}

#download .downloadArea .dwnldInpt {
  font-size: 22px;
}

.downloadArea{
}

#dwnldDrpdwn {
  width: 40px;
  background-image: url("images/down.svg");
  background-repeat: no-repeat;
  transition: 0.4s all ease;
  background-position: center;
  background-size: 80% 80%;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 2px 5px var(--shadow);  
  transform: scale(0.8);
  cursor: pointer;
  height: 30px;
  margin-left: 25px;
}

.margin {
  margin: auto;
  display: flex;
}

.slctr{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: bold;
  margin-left: 25px;
}

#show{
  margin-left: 25px;
}

.dwnldBtn {
  padding: 0 1em;
  border-radius: 12px;
  background-color: var(--white);
  transition: 0.4s all ease;
  box-shadow: 2px 2px 5px var(--shadow);  
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.slctDrwngs {
  padding: 50px;
}

.slctDrwngs .row1, .slctDrwngs .row2, .slctDrwngs .row3 {
  padding-bottom: 50px;
  column-gap: 5%;
}

.first, .second, .third, .four {
  position: relative;
}
.slctDrwngs .first:hover,
.slctDrwngs .second:hover,
.slctDrwngs .third:hover,
.slctDrwngs .four:hover {
  transform: scale(1.2);
}

#slctImg {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 30px;
  width: 30px;
}

.citations, .legal_events, .patent_family {
}

.legal_th {
  padding: 37.5px!important;
  text-align: left; 
}


.list_hover:hover{
  box-shadow: 2px 2px 5px var(--shadow);  
  background-color: var(--basis);
}

table {
  border-collapse: collapse;
  width: 100%;
}

.pat-cit, .non-pat-cit{ 
   margin: auto;
}

.non-pat-cit {
  padding-top: 50px;
}

p{
    font-size: 18px;
}


td {
  padding: 15px;
  border-bottom: 1px solid black;
  text-align: center; 
}

thead{
    font-weight: bold;
    font-size: 22px;
    white-space:nowrap;
    background-color: var(--basis);
}

thead th{
    padding: 20px;
}

tbody tr:hover{
  box-shadow: 2px 2px 5px var(--shadow); 
}


#pat-cit thead tr>:nth-child(5), #pat-cit thead tr>:nth-child(4), #pat-cit thead tr>:nth-child(1), 
#non-pat-cit thead tr>:nth-child(4), #non-pat-cit thead tr>:nth-child(1){
    cursor: pointer;
}