#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#homebutton-link {
    color: white;
    text-decoration: none;
}

#homebutton {
    background-color: #455463;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dropbtn {
    background-color: #455463;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(69, 84, 99, 0.75);
    box-shadow: 0px 4px 4px rgba(111, 113, 114, 0.5);
    border-radius: 12px;
    min-width: 100%;
  }

  .login-mask {
    right: 0px;
    min-width: 200px;
    padding: 22px;
    color: white;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .login-btn {
    margin-top: 5px;
    border-radius: 16px;
    background-color: #455463;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
  }
  .dropdown-content a:hover {
    background-color: #455463;
    border-radius: 12px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #455463;
  }

  .login-textfield {
    width: 100%;
    border-radius: 16px;
    border: none;
  }

  .result-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: center;
      gap: 10px;
      min-height: 1000px;
  }

  .result-options-container {
    width: 80%;
    background-color: lightgray;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
  }

  .result-display-container {
    width: 80%;
    max-height: 500px;
    background-color: lightgray;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

.results-table th, td {
	padding: 30px;
	text-align: left;
}

th:not(:last-child), td:not(:last-child) { 
    border-right: 1px solid black; 
}

table {
	border-collapse: separate;
    border-spacing: 0px 15px;
}

table tr:first-child {
    background-color: gray;
}

table tr {
    background-color: white;
}

.dropdown-container {
    margin-left: 20%;
}


