:root {
    --basis: #dfe3e5;
    --buttongrey: #b2b5b7;
    --shadow:#6f7172;
    --white: #fbfcfc;
    --textcolor: #161616;
    --newbuttongrey: #c8cccc;
    --headerbutton: #4B120F;
}

.header h1 {
	font-family: 'Roboto';
	font-weight: 700;
  font-style: bold;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

p {
	color: var(--textcolor);
	margin: 0;
	padding: 0;
	webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

body { 
	background-color: var(--basis);
	line-height: 1.5;
	margin: 0 auto;
	padding:0;
	position:absolute;
	overflow:hidden;
	left:0;
	right:0;
	top:2.5%;
	bottom:2.5%;
	color: var(--textcolor) ;
	font-family: 'Roboto', sans-serif;
	z-index: 2;
}

.expander{
	width: 5%;
  position: relative;
  overflow: hidden;
}

.rotater {
	background-color: var(--white);
	box-sizing: border-box;
  width: 100%;
  height: 100%;
	background-image: url("images/up.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.rotater.expand {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}

.button:hover, .expander:hover {
	background-color: var(--basis);
}

.expander.back{
	background-image: url("images/left.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 80%;
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
	background-color: white;
}

/* Standard für alle Buttons */
.button, .expander {
	box-sizing: border-box; 
	background-color: var(--newbuttongrey);
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 5px var(--shadow);  
}



a { text-decoration: none; 
	color: black;
	}

/* Schwarzer Hintergrund für die Gallerie onClick */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal.show {
	display: block;
}


.ghost_element{
	display: flex;
	align-items: stretch;
	opacity: 0;
	position: fixed;
	top: 25%;
	right: 25%;
	left: 25%;
	bottom: 25%;
	z-index: -10;
	transition:all 0.3s ease-in-out 0s;
}

.ghost_element.show {
	z-index: 12;
	opacity: 1;
	top: 10%;
	right: 15%;
	left: 15%;
	bottom: 10%;
}

.ghost_element .left .divider{
	height: 3px;
	background-color: var(--shadow);
	width: 23%;
}

.ghost_element .left{
	width: 50%;
	transition:all 0.5s ease-in-out 0s;
	position: relative;
}

#myimage {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.ghost_element .right{
	width: 50%;
}

.ghost_element .right .content {
	cursor: pointer;
	height: 61.8%;
	transition:all 0.5s ease-in-out 0s;
}

.ghost_element .right .content:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px var(--shadow); 
}

.ghost_element .right .gallerie {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	height: 38.2%;
	transition:all 0.5s ease-in-out 0s;
}

.ghost_element .right .gallerie .left_pic, 
.right_pic, .mid_pic{
	width: 33.33%;
	transition:all 0.5s ease-in-out 0s;
	cursor: pointer;
}

.ghost_element .right .gallerie .left_pic:hover, .mid_pic:hover, .right_pic:hover
{
	width: 66.66%;   
	transition:all 0.2s ease-in-out 0s;
	transform: scale(1.2);
	box-shadow: 2px 2px 5px var(--shadow);  
}

/* The Close Button */
.close {
  position: absolute;
  top: 3%;
  right: 5%;
  color: var(--basis);
  font-size: 70px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} 

 /*************************************************\
/***************************************************\
/* The Wrapper for the main displayed content */
.pwrapper {
	max-width: 1800px;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.pwrapper .expander_wrapper{
	height: 10%;
	webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
} 

.pwrapper .expander_wrapper.expand{
	height: 0%;
	opacity: 0;
	padding: 0px;
  visibility: hidden;
	webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.pwrapper .expander_wrapper .header {
	background-color: var(--white);
	width: 100%;
	box-sizing: border-box;
	height: 100%;
}

.pwrapper .expander_wrapper .header .padder{
	padding: 5px;
	padding-right: 3.2%;
	display: flex;
  align-items: stretch;
  height: 100%;
  box-sizing: border-box;
}

.pwrapper .expander_wrapper .header .padder .left .button{
	width: 10%
}

.pwrapper .expander_wrapper .header .padder .left{
	height: 100%;
	width: 80%;
	column-gap: 3.2%;
	display: flex;
}

.pwrapper .expander_wrapper .header .padder .right p{
	color: var(--white);
}

.pwrapper .expander_wrapper .header .padder .right {
	display: flex;
	height: 100%;
	box-sizing: border-box;
	margin: auto;
}

#button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dropbtn {
  background-color: var(--headerbutton);
  color: var(--white);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.hmenu .dropbtn {
  background-color: var(--white);
  color: var(--textcolor);
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 12px;
	cursor: pointer;
	box-shadow: 2px 2px 5px var(--shadow); 
	text-align: center;
	width: 11.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #653634cc;
  opacity: 100%;
  box-shadow: 0px 4px 4px var(--shadow);
  border-radius: 12px;
  min-width: 100%;
  width: 11.5%;
}

.login-mask {
  right: 0px;
  min-width: 200px;
  padding: 22px;
  color: var(--white);
}

.login-mask input{
	width: 100%;
	box-sizing: border-box;
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.login-btn, .register-button {
  margin-top: 5px;
  border-radius: 16px;
  background-color: #653634;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: white;
  width: 100%;
}

.login-btn:hover, .register-button:hover {
  background-color: #4B120F;
}

.dropdown-content a:hover {
  background-color: #653634;
  border-radius: 12px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--headerbutton);
}

#bookmark {
	cursor: pointer;
	box-sizing: border-box;
	background-image: url( images/bookmark_uncheck.png);
	background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--white);
  box-shadow: none;
  margin-top: auto;
	margin-bottom: auto;
	width: 4%;
	height: 50%;
	transition: 0.5s all ease;
}

#bookmark:hover{
	transform: scale(1.1);
	transition: 0.3s all ease;
}

#bookmark.check{
 background-image: url( images/bookmark_check.png);
 transition: 0.5s all ease;
 transform: scale(1.2);
}

.pwrapper .hmenu{
	background-color: var(--basis);
  width: 100%;
  height: 6%;
	box-sizing: border-box;
  padding: 5px;
  column-gap: 1%;
  display: flex;
  align-items: stretch;
}

.pwrapper .hmenu .button{	
  	width: 11.5%;
  	font-weight: 700;
}

.pwrapper .content.expand {
	height: 94% !important;
	
}

.pwrapper .content {
	background-color: var(--white);
	height: 84% !important;
	width: 100%;
	padding-left: 3.2%;
	padding-right: 3.2%;
	box-sizing: border-box;
	overflow: scroll;
	scroll-behavior: smooth;
}

.pwrapper .content .bibliographic_data_container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pwrapper .content .bibliographic_data{
	box-sizing: border-box;
	width: 100%;
	display: flex;
	align-items: stretch;
	padding-bottom: 5px;
}

.pwrapper .content .bibliographic_data .left{
	width: 38.2%;
	display: flex;
	align-items: stretch;
	line-height: 1.42857;
}

.pwrapper .content .bibliographic_data .right{
	width: 61.8%;

}

.pwrapper .content .bibliographic_data .left .left_content{
	width: 38.2%;	
}

.pwrapper .content .bibliographic_data .left .right_content{
	width: 61.8%;
}

.pwrapper .content .description{
	display: flex;
	align-items: stretch;
	height: 100%;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: solid 2px var(--shadow);
}

.pwrapper .content .description .left{
	height: 100%;
	width: 61.8%;
	overflow: scroll;
}

.pwrapper .content .description .left .padder{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.pwrapper .content .description .right{
	width: 38.2%;

}

.pwrapper .content .description .right .top{
	height: 100%;
	width: 100%;
	background-image: url(images/1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.pwrapper .content .claims {
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: solid 2px var(--shadow);
}

.pwrapper .content .drawing {
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: solid 2px var(--shadow);
}

.pwrapper .content .drawings {
	width: 100%;
}

.row1, .row2, .row3 {
	width: 100%;
	display: flex;
	column-gap: 1%;
	margin-top: 1%;
	justify-content: space-between;
}
.pwrapper .content .drawings .first:hover, .second:hover, .third:hover , .four:hover{
	box-shadow: 2px 2px 5px var(--shadow);  
}

.tooltiptext {
  display: table;
  margin: 0 auto;
  margin-top: -15px;
  visibility: invisible;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  width: 100%;
	box-sizing: border-box;
}

#img{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.tooltiptext::after {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.first:hover .tooltiptext, .second:hover .tooltiptext, .third:hover .tooltiptext, .four:hover .tooltiptext  {
  visibility: visible;
  opacity: 1;
}
.pwrapper .content .drawings .first, .second, .third, .four{
	position: relative;
	cursor: pointer;
	height: 400px;
	width: 25%;
}

.pwrapper .content .download {
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: solid 2px var(--shadow);
	width: 100%;
}

.flexbox {
	display: flex;
	height: 500px;
	width: 100%;
	box-sizing: border-box;
}

.pwrapper .content .download .left {
	width: 32.8%;
	box-sizing: border-box;
	height: 100%;
	align-items: stretch;
	display: grid;
}

.pwrapper .content .download .left .button{
	width: 50%;
	height: 50%;
	margin: auto;
 	font-weight: 700;
}

.pwrapper .content .download .left .button:hover{
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

.pwrapper .content .download .right {
	width: 68.2%;
	box-sizing: border-box;
	height: 100%;
}

.pwrapper .content .download .right .child {
  height: 153px;
	width: 25%;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 2px 2px 5px var(--shadow);  

}

.larger {
	position: absolute;
	height: 30px;
	width: 30px;
	right: 5px;
	bottom: 5px;
}

.pwrapper .content .citations {
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: solid 2px var(--shadow);
}

.pwrapper .content .legal_events {
	padding-bottom: 30px;
	padding-top: 30px;}

.pwrapper .content .patent_family {
	padding-bottom: 30px;
	padding-top: 30px;
}

.legal_table th, td {
	padding: 15px;
	border-bottom: 1px solid var(--shadow);
	text-align: left;	
}

.list_hover:hover{
	box-shadow: 2px 2px 5px var(--shadow);  
	background-color: var(--basis);
}

table {
	border-collapse: collapse;
	width: 100%;
}

.img-magnifier-glass {
  position: absolute;
  z-index: 3;
  border: 3px solid #000;
  border-radius: 40%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}