:root {
	--textcolor: #161616;
	--white: #fbfcfc;
    --buttongrey: rgba(171, 177, 207, 0.5);
	--darkblue: #455463;
/* Hover Farbe */
	--mediumblue: #9fadbc;	
	--lightblue: #ABB1CF 50%;
	--buttonhover: #fbfcfc;
    --shadow:#6f7172;
    --grey: #dfe3e5;
}
body{
 	font-size: 16px;
	background-color: var (--grey);
	line-height: 1,5;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 2.5%;
	color: var(--textcolor);
	font-family: ‘Roboto’, sans-serif;
	z-index: 2;
}

* {box-sizing: border-box;}

h1{
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
button {
  width: 100px;
  height: 40px;  
  margin-right: 8px;
  padding: 0px 10px 0px 10px;  
  background-color: var(--white);
  border: none;  
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--shadow);
  text-align: center;  
}
p {
	color: var(--textcolor);
	margin: 0;
	padding: 0;
	
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
button:hover {
  background: var(--mediumblue);
}
#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#homebutton-link {
    color: white;
    text-decoration: none;
}

#homebutton {
    background-color: var(--darkblue);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 10px;
}

#button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dropbtn {
    background-color: var(--darkblue);
    color: var(--white);    
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .login-mask {
    right: 0px;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #455463;
}
.searchHeader{
    background-color: var(--white);
    width: 100%;
    z-index: 2;
    border-bottom: solid var(--grey);
    box-shadow: 2px 2px 5px var(--shadow);
}
.margin-header{
    margin-left: 5%;
    margin-right:5%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.currentQuery{ 
    display: flex;
}
.currentQuery h3{
    margin-top: 10px;
    margin-bottom: 0px;
}
.inputcurrent{
    margin-top: 2.5px;
    margin-left: 20px;
    padding: 10px;
    background-color: var(--buttongrey);
    border-radius: 5px;
}
#searchbtn {
    width: 110px;
    height: 45px;
    background-color:var(--darkblue);
    border-color: var(--buttongrey);
    color: var(--white);
}
.scroll{
    overflow: scroll;
}
.margin-container{
    margin-left: 5%;
    margin-right:5%;
    height: 100%;
    padding: 10px;
    background-color: var(--grey);
   
}
/* Style Searchbar*/
.searchbar {
  overflow: hidden; 
}
#searchbar2 {
    display: none;
}
#minus1 {
    display: none;
}
/* Style Dropdown*/
#boolean1{
      display: none;
}
.boolean{  
  width: 100px;
  height: 40px;
  margin-right: 8px;  
  padding: 0px 10px 0px 10px; 
  background-color: var(--white);
  border: none;  
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--shadow);
}
/*Suchleiste input*/
.searchbar{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-bottom: 0px;
}
.search-container{
    display:flex;
}
.search-container input[type=text] {
  float: left;  
  width: 100%;
  height: 40px;
  padding: 0px 15px 0px 15px;
  margin-right: 5px;
    
  border: none; 
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--shadow);   
}

.minus{
    display:inline;
}
/*Image Search-Section*/
.image-container{
    display: flex;
    background-color: var(--white);
    border-radius: 5px;
    width: 100%;
    height: 30%;
    margin: 5px;
}
.sub-image-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:10px;
    width: 50%;
}

#search-image-container {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.dragdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:75%;
    width:100%;
	color: #555;
	border: 2px dashed #bbb;
	border-radius: 7px;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
}
.upload {
  width: 40px;
  height: 40px;  
  font-size:20px;
  border: 2px;  
  border-color: var(--buttongrey);  
  margin-top: 5px;
  margin-left: 45%;  

}
.url {
    display: flex;
}

.url * {
    width: 100%;
}

.url input[type=text]{
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    height: 35px;
    border-color: var(--buttongrey);
}
#urlbtn{
   height: 35px; 
   width: 35px; 
   margin-left: 0px;
   padding: 2px;
    border-radius: 0px 5px 5px 0px;
    border-color: var(--buttongrey);
}


.data {
  display: flex;  
    background-color: var(--buttongrey);;
  border-radius: 20px;
   padding: 5px 10px 5px 10px; 
   align-items: center;
   margin-bottom: 5px;
   margin-right: 5px;
   height: 40px;
}

.delete-image {
    margin-left: 10px;
    color: var(--shadow);
    cursor: pointer;
}
/*Filter-Section*/
.filterbox{
    display: none;    
}
.subfilterbox{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding: 10px;
    margin-bottom: 10px;
}
.filter-container{
    display: flex;
    flex-wrap: wrap;

}
.fbtn{
    background-color: var(--buttongrey);
    width: 125px;
    height: 60px;
    padding: 0px 5px 0px 5px;   
}
.filter{
    min-width: 150px;
    max-width: 200px;
    margin-right: 10px;
}
.foptions.active{
   height: 50px;
    border-radius: 12px 12px 0px 0px;
    box-shadow: none;   
}
.subfiltercontent{
    margin-top: 5px;
}
.subfiltersearch{
    display:flex;
}
.subfiltersearch input[type=text]{
    width: 85%;
    border-radius: 5px;
    height: 25px;
    margin-left: 5px;
}
.timeframe{
    display: flex;
    justify-content: space-between;
    
}
.yearinput input[type=text]{
    width: 100px;
    float: right;
}

.selected-filter{
   min-width: 15%;
   border-left: thick solid var(--grey);
  padding-left: 5px; 
    
}
.overviewfilter{
   height: 90%; 
}
.savedelete{
    display: flex;
    justify-content: space-between;
}
.sdbtn{
    width: 60px;
    height: 20px;
    font-size: 12px;
    padding: 2.5px;
    margin-right: 0;
}

.searchImage {
    max-width: 30px;
    height: auto;
    margin-right: 5px;
}